<style>
#cautare{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    margin-left: 7%;
    margin-top: 15px;
    letter-spacing: 0px;
    word-spacing: 2.2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.input{
    margin-left: 9%;
}
</style>

{% extends 'base.html' %}

{% block title %} Cautare Modele Compatibile {% endblock %}

{% block content %}
   
    <p id="cautare">Cautare model disponibil</p>

    <div id="formularCautareModel">
        <form method="get" action="{% url 'cauta-model-dupa-cod-piesa'%}">
        {% csrf_token %}
        <div class="input">
            {{form.cod_piesa_input}}
            <button class = "btn btn-danger mx-2" type="submit">Cauta</button>
        </div>
        </form>

    </div>

{% endblock %}